.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
        .wrapper {
            width: 90%;
        }
    }

    @media (max-width: 768px) {
        .wrapper {
            width: 100%;
        }
    }
    .wrapper {
        display: flex;
        flex-direction: column;

        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 1;
            margin-top: 30px;
        }

        .downloadContainer {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;

            z-index: 1;

            .downloadList {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 30px;
                padding-bottom: 30px;
                max-width: 800px;
        
                .downloadItem {
                    display: flex;
                    width: 45%;
                    height: 150px;
                    min-width: 320px;
                    max-width: 400px;

                    background-color:rgb(255, 255, 255);
                    
                    padding: 5px;
                    border: 1px solid rgba(48, 39, 39, 0.171);
                    border-radius: 10px;
                    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
        
                    .image {
                        display: flex;
                        justify-content: center;
                        width: 45%;
                    }
                    
                    .info {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
        
                        div {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
        
                            span {
                                font-size: 1rem;
        
                                &:nth-child(2) {
                                    font-size: 0.8rem;
                                }
                            }
                        }
                        
        
                        .button{
                            border: 0;
                            padding: 10px;
                            border-radius: 10px;
        
                            &:hover {
                                cursor: pointer;
                                filter: brightness(0.8);
                            }
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        .background {
            position: fixed;
            top: 100px;
            right: 0;
        }
    }

    @media (max-width: 768px) {
        .background {
            display: none;
        }
    }
}