:root {
  --background: #121214;
  --white: #fff;
  --title-100: #747474;
  --title-200: #484848;
  --text-100: #BBBBBB;
  --text-200: #666666;
  --blue-100: #708FFF;
  --background-menu: #4d5bf9;
  --background-subpage: #F2F3F5;
}

@media(max-width: 1080px) {
  html {
      font-size: 93.75%;
  }
}

@media(max-width: 768px) {
  html {
      font-size: 87.5%;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, input, textarea, button {
  font: 400 1rem "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0
}

button {
  cursor: pointer;
}