.container {
    display: flex;
    justify-content: center;

    .wrapper {
        display: flex;
        flex-direction: column;
        width: 80%;
        z-index: 1;

        .subContainer{
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;

            .filter {
                ul {
                    display: flex;
                    gap: 10px;
                }
            }
            
            .leaderboard {
                display: flex;
                flex-direction: column;

                .leaderboardItems {
                    display: flex;

                    span {
                        font-size: 1rem;
                    }
                    
                    .position {
                        flex: 1;
                        display: flex;
                        max-width: 100px;
                    }

                    .name {
                        flex: 2;
                        display: flex;
                        max-width: 300px;
                    }

                    .baseLevel {
                        flex: 1;
                        display: flex;
                        max-width: 100px;
                    }

                    .jobLevel {
                        flex: 1;
                        display: flex;
                        max-width: 100px;
                    }

                    .class {
                        flex: 1;
                        display: flex;
                        max-width: 100px;
                    }
                }

                .leaderboardBody {
                    height: 2.5rem;

                    &:nth-child(2) {
                        height: 4rem;
                    }

                    div {
                        display: flex;
                        align-items: center;
                        border-bottom: 3px solid rgba(189,188,183,.4);

                        &:nth-child(odd) {
                            background-color: rgba(219,217,210,.6);
                        }

                        &:nth-child(even) {
                            background-color: rgba(219, 217, 210, 0.3);
                        }
                    }

                    .position {
                        justify-content: center;
                    }

                    .name {
                        justify-content: center;
                    }

                    .baseLevel {
                        justify-content: center;
                    }

                    .jobLevel {
                        justify-content: center;
                    }

                    .class {
                        justify-content: center;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {
        .background {
             img {
                position: fixed;
                top: 100px;
                right: 0;

                height: 100%;
             }
        }
    }

    @media (max-width: 768px) {
        .background {
             img {
                 display: none;
             }
        }
    }
}