.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .registerForm {
        display: flex;
        flex-direction: column;

        width: 200px;
        margin-top: 150px;

        gap: 10px;

        div {
            div {
                span {
                    color: blue;
                }
            }
        }
    }
}