.container {
    
    .background {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 365px;
        background-color: #00ADB8;

        .wrapper {
            display: flex;
            flex-direction: column;
            height: 575px;
            width: 98%;
            max-width: 1200px;
            border: 0;
            border-radius: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            background-color: var(--white);
    
            transform: translateY(15%);
            z-index: 1;
    
            h2 {
                text-align: center;
                font-size: 2.25rem;
                color: var(--title-200);
    
                margin-top: 40px;
            }
            
            .registerContainer {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: space-around;
    
                .registerForm {
                    display: flex;
                    flex-direction: column;
                    width: 300px;
                    gap: 20px;
            
                    input {
                        height: 50px;
                        border: 1px solid black;
                        border-radius: 5px;
                        padding: 5px 10px;
                    }
    
                    .checkService{
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        height: 0.8rem;
    
                        span {
                            font-size: 0.8rem;
                        }
                    }
    
                    .registerButton{
                        background-color: #6935e5;
                        border: 0;
    
                        font-weight: 600;
                        font-size: 0.7rem;
                        color: #fff;
                        cursor: pointer;
    
                        &:active {
                            filter: brightness(0.8);
                        }
                    }
                }

                
            }
        }
    }
}