.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;

    .wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 1000px) {
        width: 100%;
      }
      @media (min-width: 1000px) {
        width: 60%;
      }

      .information{
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        
        width: 50%;
        overflow: auto;
      }

      @media (max-width: 1000px) {
        .image {
          display: none;
        }
      }
    }
  }