@media (min-width: 1000px) {
    .container {
        display: none;
    }
}

@media (max-width: 1000px) {
    .container {
        position: fixed;
        display: flex;
        flex-direction: column;
        
        top: 100px;
        right: 0px;
        height: 100%;
        background-color: rgb(37, 26, 26);
        padding: 1rem;
        overflow: hidden;
        z-index: 1000;

        .firstInfo {
            margin-bottom: 10px;

            .listNav{
                display: flex;
                flex-direction: column;
                gap: 5px;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50px;

                    &:hover {
                        cursor: pointer;
                        background-color: rgba($color: #5a3939, $alpha: 1.0);
                    }

                    &:active {
                        filter: brightness(0.8)
                    }
                }
            }
        }

        hr {
            border: 0;
            height: 2px;
            width: 100%;
            background-image: linear-gradient(to right, transparent, #CCC, transparent);  
        }

        .secondInfo {
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }

        &:after {
            border: 1px solid white;
        }

    }
}

@media (max-width: 1000px) {
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    
        z-index: 5;
    
        background-color: rgba(0,0,0,0.5);
    }
}