.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80px;
    width: 100%;

    background-color: #111;
    border-bottom: 2px solid rgba(51,51,51,.25);
    color: white;
    
    top: 0;
    z-index: 100000;
    transition: all .5s;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        gap: 50px;

        .logo {
            position: relative;
            width: 100px;
            height: 80px;
            transition: all .5s;
        }

        .navigation {
            flex: 1;

            .navigationList {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 30px;

                .navigationItem {
                    a {
                        font-weight: 600;
                        font-size: 1rem;

                        &:hover {
                            border-bottom: 1px solid white;
                        }
                    }
                }
            }

            @media (max-width: 1023px) {
                display: none;
            }
        }

        .login {
            display: flex;
            align-items: center;
            gap: 5px;
            
            .avatar {
                height: 1.5rem;
                width: 1.5rem;
            }
    
            .buttonDropDownLogin {
                height: 1.5rem;
                width: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
    
                padding: 5px;
                cursor: pointer;
            }
    
            .buttonDropDownLogin:hover {
                border-radius: 50%;
                background: rgba($color: #201a1a, $alpha: 1.0);
            }

            @media (max-width: 1023px) {
                display: none;
            }
        }

        .containerButtonMenu {
            display: none;

            @media (max-width: 1023px) {
                flex: 1;
                display: flex;
                justify-content: flex-end;

                .button {
                    cursor: pointer;
                    padding: 10px;
                    background: 0;
                    border: 0;
                    height: 43px;
                    width: 43px;

                    .icon {
                        height: 23px;
                        width: 23px;
                        color: white;
                    }

                    &:hover {
                        border-radius: 50%;
                        background: rgba($color: #201a1a, $alpha: 1.0);
                    }
                }
            }
        }
    }
}
  
@media (min-width: 1023px) {
    .sticky {
        position: sticky;
        transition: all 2s;
    }
}