.container {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        @media (max-width: 1000px) {
          width: 100%;
        }
        @media (min-width: 1000px) {
          width: 60%;
        }

        .title {
            display: flex;
            align-items: center;
            gap: 10px;
            
            i {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                background-color: rgb(84, 84, 221);
                border-radius: 50%;

                color: white;

                .icon {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }

            h3 {
                text-align: center;
            }
        }

        .description {
            width: 80%;
            text-align: center;
        }

        .listShop{
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;

            .itemShop {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 15rem;
                gap: 10px;

                button {
                    border: 0;
                    border-radius: 10px;
                    padding: 10px 5px;
                    background-color: rgb(24, 99, 24);

                    color: white;

                    font-size: 1rem;
                    font-weight: 600;

                    &:hover {
                        cursor: pointer;
                    }
                }

                span {
                    font-size: 1.2rem;
                    font-weight: 600;
                }

                div {
                    text-align: center;
                }
            }
        }
    }
}