.container {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 20px;
            
            i {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                background-color: var(--blue-100);
                border-radius: 50%;

                color: var(--white);

                .icon {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }

            h3 {
                text-align: center;
                color: var(--title-200);
                font-size: 1.1rem;
            }
        }

        .description {
            text-align: center;
            font-size: 1rem;
            font-weight: 600;
            color: var(--text-200);

            margin-bottom: 50px;
        }

        .sliderShop{
            display: flex;
            align-items: center;

            .button {
                width: 38px;
                height: 38px;
                border: 0;
                border-radius: 50%;
                background: 0;

                &:hover {
                    background-color: var(--text-200);
                }
            }

            .listShop{
                flex: 1;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px;

                .itemShop {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 15rem;
                    gap: 10px;

                    button {
                        border: 0;
                        border-radius: 10px;
                        background-color: rgb(24, 99, 24);
                        padding: 10px;
                        width: 75px;

                        color: white;

                        font-size: 0.8rem;
                        font-weight: 600;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    span {
                        font-size: 1rem;
                        font-weight: 600;
                        color: var(--title-200)
                    }

                    p {
                        text-align: center;
                        color: var(--text-200)
                    }
                }
            }
        }
    }
}