.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;

    .information {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .userWrapper {
            display: flex;
            flex-direction: column;

            span {
                font-size: 0.8rem;
            }
        }

        .passWrapper {
            display: flex;
            flex-direction: column;

            span {
                font-size: 0.8rem;
            }
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}