.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F2F3F5;
  padding: 30px 0;
  
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    
    .title {
      display: flex;
      align-items: center;
      gap: 10px;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: rgb(84, 84, 221);
        border-radius: 50%;

        color: white;

        .icon {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }

    .description {
      text-align: center;
      width: 60%;
      word-wrap: break-word;
    }

    .listNews {
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 20px;
      overflow: hidden;
      flex-wrap: wrap;

      .itemNews{
        display: flex;
        flex-direction: column;
        width: 18rem;

        img {
          width: 100%;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }

        .information {
          display: flex;
          flex-direction: column;
          border: 1px solid rgba(0,0,0,0.12);
          box-shadow: 0 5px 10px rgba(0,0,0,0.12);

          span {
            text-align: center;
            font-weight: 600;
          }

          p {
            margin-left: 5px;
            word-wrap: break-word;
          }
  
          div {
            text-align: center;
            
            button {
              cursor: pointer;
              width: 80%;
              margin-bottom: 10px;
              background-color: rgb(66, 64, 219);
              border: 0;
              border-radius: 5px;
              padding: 5px;
              color: white;
              font-weight: 600;
            }
    
            button:hover {
              filter: brightness(0.8);
            }
          }
        }
      }
    }
  }
}